.chat_icon {
  /* background-image: "../assets/chat.svg"; */
  background-image: url("../assets/chat.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
